[submodule "amarok/amarok"]
	path = amarok/amarok
	url = https://gist.github.com/941bd57530074585052f
[submodule "archiv/archiv"]
	path = archiv/archiv
	url = https://gist.github.com/d8e0d3abca8d195b3033
[submodule "backup/backup"]
	path = backup/backup
	url = https://gist.github.com/87742dc4d99cdb2588ea
