[submodule "amarok/amarok"]
	path = amarok/amarok
	url = https://gist.github.com/941bd57530074585052f
[submodule "archiv/archiv"]
	path = archiv/archiv
	url = https://gist.github.com/d8e0d3abca8d195b3033
[submodule "backup/backup"]
	path = backup/backup
	url = https://gist.github.com/87742dc4d99cdb2588ea
[submodule "bash/bash"]
	path = bash/bash
	url = https://gist.github.com/95e44d9cbb0755d8a0f1
[submodule "bleachbit/bleachbit"]
	path = bleachbit/bleachbit
	url = https://gist.github.com/0bc5da8af3c7c7e576c9
